@media screen and (max-width:468px) {
    .nav-bar {
        height: 10vh;
        position: relative;
    }


    .aside-element {
        flex-direction: column;
        font-size: 0.7rem;
        padding-left: 1rem;
        gap: 10px;
    }

    aside {
        gap: 20px;
        padding-top: 1rem;
    }

    .nav-brand img {
        width: 30vw;
        position: absolute;
        left: 5px;
    }

    .nav-item-list {
        display: none;
    }

    .button {
        display: flex;
        width: 20%;
    }

    .click {
        display: none;
    }

    .aside-text {
        padding-top: 0px;
    }

    .icon-container {
        width: 100vw;
    }

    .song-info-text {
        width: 20vw;
    }

    .cards-container {
        overflow: scroll;
    }

    .first-row {
        height: 70vh;
    }

    .song-info {
        flex-direction: column;
    }

    .music-playing-icon {
        display: none;
    }

    h2 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.6rem;
    }

    .songs {
        padding: 20px 0px;
    }

    #myProgressBar {
        width: 70vw;
    }

    .song-bg {
        height: 8vw;
    }

    .playing-card {
        height: 100%;
    }

    .playing-card-text {
        font-size: 1.5rem;
    }

    .footer-icon {
        gap: 15px;
    }



}